/// MIXINS 

@mixin p-styles {
    padding: 10px;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.7;
}

@mixin border-line {
    border-bottom: $border-line-color solid 2px;
}

@mixin h-styling { /// Heading styling (h1, h2)
    text-align: center;
    font-size: 2em;
    padding: 15px;
}