/// SVG's and Images

.main-content {
    padding-top: 20px;
}
.dog_cat {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.dogs-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.svg-pets {
    width: 30%;
    padding: 10px;
}

.img-location {
    max-width: 100%;
    margin: 0 auto;
}